﻿@using Contract.Entity
@model List<UserLink>;


<!DOCTYPE html>

<html>
<body>
    <div class="text-center" style="padding-top:100px">
    LIST:
    @if (Model != null && Model.Any()) { 
    <div class="form-control">
    @foreach (var item in Model)
    {
        <li> @item.ShortenLinkName </li>
    }
        </div>}

        </div>
</body>
</html>
