﻿@using FrontEnd.Models

@model InfoSentByUserFromCabinetModel;
@{

    ViewData["Title"] = "Cabinet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cabinet</title>
</head>
<body>
    <div class="container" style="text-align:center; padding-top:10%">
        <div class="col-xs-12">
            <form method="post" asp-controller="User" asp-action="UrlBeenShorted">

                <div class="form-group">
                    <label class="col-xs-12" for="UrlGoesShort" style="position:relative; right:44.8%">Url address</label>

                    <div class="row col-xs-12">
                        <input asp-for="UrlGoesShort" class="form-control col-xs-8"
                               style="width:60%" id="UrlGoesShort" placeholder="enter url to cut...">


                        <button type="submit" class="btn btn-danger col-xs-4">Cut</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <partial name="_CabinetLinkList.cshtml" />

</body>
</html>
