﻿@{
    ViewData["Title"] = "About";
}
<div style="padding-top:30px">
    <h3>@ViewData["Title"]</h3>

    <p>Big Baby Tape, please do not take our bus, thank you and wish you a good day.</p>
    </div>