﻿@{
    ViewData["Title"] = "Contact";
}
<div style="padding-top:30px">
<h3>@ViewData["Title"]</h3>

<address>
    Saint road<br />
    Comrad, TT 1233-6399<br />
    <abbr title="Phone number">Phone:</abbr>
    +373 78816560
</address>

<address>
    <strong>Support:</strong> <a href="mailto:cetvertakov@gmail.com">cetvertakov@gmail.com</a>
</address>
    </div>