﻿@using Contract.Models;

@model LoginRequestModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrlShornter</title>
</head>
<body>
    <div class="container" style="text-align:center; padding-top:10%">
        <div class="col-xs-12">
            <form method="post" asp-controller="User" asp-action="LoginRequest">

                <div class="form-group">
                    <label for="InputEmail" style="position:relative; right:44.8%">Email address</label>
                    <input asp-for="Email" class="form-control" style="width:50%" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                    @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
                </div>
                <div class="form-group">
                    <label for="InputPassword" style="position:relative; right:46%">Password</label>
                    <input asp-for="Password" class="form-control" style="width:50%" id="InputPassword" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary" style="position:relative; right:25%">Submit</button>
            </form>
        </div>
    </div>


</body>
</html>
